[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:gohugo-ananke/ananke.git
[submodule "themes/PaperrMMod"]
	path = themes/PaperrMMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
